.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table tr td{
  vertical-align: middle;
}
@media screen and (max-width: 768px){
  .table thead{
    display: none;
  }
 
  .table tr td{
    display: block;
    vertical-align: middle;
  }
  .table tr td:not(#actionItem){
    text-align: right;
  }
  .table tr td::before{
    content:attr(data-headerdata);
    float: left;
    font-weight: 600;
  }
}
